<h1>Your Useful SMS Messages</h1>

<table class='table table-condensed table-striped table-hover table-responsive'>
  <tr>
    <th style="width:15%">Keyword</th>
    <th style="width:35%">Body</th>
    <th style="width:35%">Description</th>
    <th style="width: 5%"></th>
    <th style="width: 5%"></th>
    <th style="width: 5%"></th>
  </tr>

<% @messages.each do |message| %>
  <tr>
    <td class="<%= 'danger' if message.keyword.blank? %>"><%= message.keyword %></td>
    <td>
      <%= message.body %>
    </td>
    <td>
      <%= message.description %>
    </td>
    <td>
      <a href="<%= edit_message_path(message) %>" data-toggle="tooltip" title="Edit Message" class="btn btn-success">
    <span class="glyphicon glyphicon-pencil"></span>
  </a>
    </td>
    <td>
      <%= button_to 'Destroy', message, method: 'delete',  onclick: "return confirm('are you sure')", class: "btn btn-danger" %>
    </td>
    <td>
      <%= render "send_sms", message: message%>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Message', new_message_path, remote: true, class: 'btn btn-success' %>
