<p id="notice"><%= notice %></p>

<p>
  <b>Keyword:</b>
  <%= @message.keyword %>
</p>

<p>
  <b>Body:</b>
  <%= @message.body %>
</p>

<p>
  <b>Description:</b>
  <%= @message.description %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
